<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269221690859-hsmfdsmbq5nio71e37ovpjo7dc6gl49n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269221690859-hsmfdsmbq5nio71e37ovpjo7dc6gl49n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269221690859-divult5cvqqmelehhc9q0npod094dadb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIyGP2YCQYxrjVZNg41KdcMgPlhObAPVo</string>
	<key>GCM_SENDER_ID</key>
	<string>269221690859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>acpmandiri.app</string>
	<key>PROJECT_ID</key>
	<string>acpmandiri-d4b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>acpmandiri-d4b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269221690859:ios:e197b475fbedf8178a6dae</string>
	<key>DATABASE_URL</key>
	<string>https://acpmandiri-d4b5e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>